<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xgdjweb.dao.ParameterMapper" >
  <resultMap id="BaseResultMap" type="com.xgdjweb.bean.Parameter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="icp" property="icp" jdbcType="VARCHAR" />
    <result column="shopname" property="shopname" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="appsecret" property="appsecret" jdbcType="VARCHAR" />
    <result column="basetoken" property="basetoken" jdbcType="VARCHAR" />
    <result column="shopid" property="shopid" jdbcType="INTEGER" />
    <result column="shopkey" property="shopkey" jdbcType="VARCHAR" />
    <result column="distributionimg" property="distributionimg" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="official" property="official" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, icp, shopname, url, appid, appsecret, basetoken, shopid, shopkey, distributionimg, 
    logo, official
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xgdjweb.bean.ParameterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from parameter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from parameter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from parameter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xgdjweb.bean.ParameterExample" >
    delete from parameter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xgdjweb.bean.Parameter" >
    insert into parameter (id, name, icp, 
      shopname, url, appid, 
      appsecret, basetoken, shopid, 
      shopkey, distributionimg, logo, 
      official)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{icp,jdbcType=VARCHAR}, 
      #{shopname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, 
      #{appsecret,jdbcType=VARCHAR}, #{basetoken,jdbcType=VARCHAR}, #{shopid,jdbcType=INTEGER}, 
      #{shopkey,jdbcType=VARCHAR}, #{distributionimg,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{official,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xgdjweb.bean.Parameter" >
    insert into parameter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="icp != null" >
        icp,
      </if>
      <if test="shopname != null" >
        shopname,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="appsecret != null" >
        appsecret,
      </if>
      <if test="basetoken != null" >
        basetoken,
      </if>
      <if test="shopid != null" >
        shopid,
      </if>
      <if test="shopkey != null" >
        shopkey,
      </if>
      <if test="distributionimg != null" >
        distributionimg,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="official != null" >
        official,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icp != null" >
        #{icp,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null" >
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null" >
        #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="basetoken != null" >
        #{basetoken,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="shopkey != null" >
        #{shopkey,jdbcType=VARCHAR},
      </if>
      <if test="distributionimg != null" >
        #{distributionimg,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="official != null" >
        #{official,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xgdjweb.bean.ParameterExample" resultType="java.lang.Integer" >
    select count(*) from parameter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update parameter
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.icp != null" >
        icp = #{record.icp,jdbcType=VARCHAR},
      </if>
      <if test="record.shopname != null" >
        shopname = #{record.shopname,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.appsecret != null" >
        appsecret = #{record.appsecret,jdbcType=VARCHAR},
      </if>
      <if test="record.basetoken != null" >
        basetoken = #{record.basetoken,jdbcType=VARCHAR},
      </if>
      <if test="record.shopid != null" >
        shopid = #{record.shopid,jdbcType=INTEGER},
      </if>
      <if test="record.shopkey != null" >
        shopkey = #{record.shopkey,jdbcType=VARCHAR},
      </if>
      <if test="record.distributionimg != null" >
        distributionimg = #{record.distributionimg,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null" >
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.official != null" >
        official = #{record.official,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update parameter
    set id = #{record.id,jdbcType=INTEGER},
    name = #{record.name,jdbcType=VARCHAR},
    icp = #{record.icp,jdbcType=VARCHAR},
    shopname = #{record.shopname,jdbcType=VARCHAR},
    url = #{record.url,jdbcType=VARCHAR},
    appid = #{record.appid,jdbcType=VARCHAR},
    appsecret = #{record.appsecret,jdbcType=VARCHAR},
    basetoken = #{record.basetoken,jdbcType=VARCHAR},
    shopid = #{record.shopid,jdbcType=INTEGER},
    shopkey = #{record.shopkey,jdbcType=VARCHAR},
    distributionimg = #{record.distributionimg,jdbcType=VARCHAR},
    logo = #{record.logo,jdbcType=VARCHAR},
    official = #{record.official,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xgdjweb.bean.Parameter" >
    update parameter
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icp != null" >
        icp = #{icp,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null" >
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null" >
        appsecret = #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="basetoken != null" >
        basetoken = #{basetoken,jdbcType=VARCHAR},
      </if>
      <if test="shopid != null" >
        shopid = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="shopkey != null" >
        shopkey = #{shopkey,jdbcType=VARCHAR},
      </if>
      <if test="distributionimg != null" >
        distributionimg = #{distributionimg,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="official != null" >
        official = #{official,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xgdjweb.bean.Parameter" >
    update parameter
    set name = #{name,jdbcType=VARCHAR},
      icp = #{icp,jdbcType=VARCHAR},
      shopname = #{shopname,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      appsecret = #{appsecret,jdbcType=VARCHAR},
      basetoken = #{basetoken,jdbcType=VARCHAR},
      shopid = #{shopid,jdbcType=INTEGER},
      shopkey = #{shopkey,jdbcType=VARCHAR},
      distributionimg = #{distributionimg,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      official = #{official,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>